<br />
<br />
<%= @job.name %>
<br />
<br />
Hourly late: $ <%= @job.hourly_rate %> (USD)
<br />
<%= @job.reference_link %>
<br />
<br />
Today's success rate: <%= @success_rate_for_today %>
<br />
<br />
<div>
  Supporting attrs
  <% @supporting_attrs.each do |attr| %>
    <li><%= attr.name %></li>
  <% end %>
</div>
<br />
<div>
  Ditracting attrs
  <% @distracting_attrs.each do |attr| %>
    <li><%= attr.name %></li>
  <% end %>
</div>
<br />
<br />
<%= button_to 'Apply to this job', jobs_path(id: @id) %>
