<div class="flex">
  <dl class="max-width-3">
    <dt>Actions</dt>
    <dd>Purchase goods</dd>
    <dd>Adjust time</dd>
    <dd>Look for jobs</dd>
  </dl>

  <dl>
    <dt>Available commands</dt>
    <% Good.all.each do |good| %>
      <dd><%= link_to "Buy #{good.name}", goods_path(id: good.id), method: :post %></dd>
    <% end %>
    <dd>
      Accelerate time
      <%= link_to "1x", times_path(multiplier: 1), method: :post %>
      <%= link_to "10x", times_path(multiplier: 10), method: :post %>
      <%= link_to "100x", times_path(multiplier: 100), method: :post %>
      <%= link_to "1000x", times_path(multiplier: 1000), method: :post %>
    </dd>
  </dl>
</div>
