<br/>
<br/>
<div id="canvas">
    <div id="title">
      <% @equipments.each do |equipment| %>
        <li>
          <%= equipment.name %>
        </li>
      <% end %>
    </div>
    <div>
      I have
      <span id="money"></span>
    </div>
</div>

<%= hidden_field_tag :starting_money, @current_val %>
<%= hidden_field_tag :hourly_rate, @current_rate %>

<br/>
Road to $1M
<br/>
Currently, I'm earning $<%= @current_rate %> per hour.
<br/>
<div id="duration"></div>

<br/>

<p>Available Jobs</p>
<% @available_jobs.each do |job| %>
  <li>
    <%= link_to job.name, job_path(job) %>
  </li>
<% end %>

<br />

<%= link_to "Register new job", new_admin_equipment_path %>

<%= javascript_pack_tag 'my_js' %>
