<br/>
<br/>
<div id="canvas">
    <div id="title"></div>
    <div id="money"></div>
</div>

<%= hidden_field_tag :starting_money, @current_val %>
<%= hidden_field_tag :hourly_rate, @current_rate %>

<br/>
Road to $1M
<br/>
Currently, I'm earning $<%= @current_rate %> per hour.
<br/>
<div id="duration"></div>

<br/>
<%= link_to "Start part time Job", job_path(id: :part_time_job) %>

<%= javascript_pack_tag 'my_js' %>
